nav .brand-logo {
    font-family: 'Merienda One', cursive !important;
}

.movie-image {
    max-height: 250px;
    min-height: 250px;
    max-width: 155px !important;
}

.card .card-content .card-title {
    line-height: 30px !important;
    margin-bottom: 10px;
    font-weight: 400;
}

.card .card-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 75px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

main .row {
    margin-top: 20px;
}

